<div data-th-fragment="footer">
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">Bearing Site</span>
        </div>
    </footer>
</div>