<div data-th-fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <p class="h5 my-0 me-md-auto fw-normal">Bearing Site</p>
        <nav class="my-2 my-md-0 me-md-3">
            <a class="p-2 text-dark" href="/">Bearing Site</a>
            <a class="p-2 text-dark" href="/bearings">Bearings</a>
            <a class="p-2 text-dark" href="/agro">Agro</a>
            <a class="p-2 text-dark" href="/support">Support</a>
            <a class="p-2 text-dark" href="/about">About us</a>
        </nav>
        <form action="/bearings" method="post">
            <input class="form-control me-2" name="search" type="search" placeholder="поиск" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>